<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <title>Basic Webshop</title>
</head>
<body>
<header>
    <nav th:insert="webshop::top-nav"></nav>

    <nav class="nav-btn">
        <a th:href="@{/more-filters/clothes and shoes}">clothes and shoes</a>
        <a th:href="@{/more-filters/electronics}">electronics</a>
        <a th:href="@{/more-filters/beverage}">beverages and snacks</a>
        <a th:href="@{/price-in-eur}">euro</a>
        <a th:href="@{/price-in-original}">original currency</a>
    </nav>

    <form th:action="@{/filter-by-price}" method="get" class="filter">
        <label for="price">Filter by price:</label><br>
        <div class="filter-box">
            <div class="filter-btn">
                <button type=submit onclick="return false;" style="display:none;"></button>
                <input type="submit" name="price" value="Above">
                <input type="submit" name="price" value="Below">
                <input type="submit" name="price" value="Exactly">
            </div>
            <input class="price" type="number" step="0.01" id="price" name="value" required autofocus
                   placeholder="...enter the price   ">
        </div>
    </form>
</header>


<main>
    <div th:insert="webshop::table"></div>
</main>


</body>
</html>